body {
  background-color: #eaedf1;
  height: 1715px;
  width: 1510px;
  font-family: "Lato", sans-serif;
}

.wrapper {
  width: 1350px;
  margin: auto;
}

.header {
  margin-top: 81px;
  height: 296px;
  width: 1350px;
  margin-bottom: 38px;
  display: flex;
  justify-content: space-between;
}

.content {
  margin: 0px;
  height: 1175px;
  display: flex;
  justify-content: space-between;
}

.content-advertising {
  width: 635px;
}

.content-timeline {
  width: 10px;
  border: 1px solid black;
  margin-right: 8px;
}

.content-news {
  width: 625px;
}

.content-advertising {
  display: flex;
  flex-direction: column;
}

.content-advertising div:not(:last-child) {
  margin-bottom: 32px;
}

.advertising-secretvelet {
  background-color: white;
  flex-basis: 340px;
}

.advertising-cortix {
  background-color: white;
  flex-basis: 320px;
}

.advertising-ademe {
  background-color: white;
  flex-basis: 170px;
}

.advertising-toonga {
  background-color: white;
  flex-basis: 170px;
}

.content-news {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.news-two-first {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 406px;
  border-bottom: 4px dotted #d8dde4;
}

.news-two-second {
  display: flex;
  flex-direction: column;
  height: 288px;
  gap: 30px;
}

.content-menu {
  background-color: white;
  flex-basis: 400px;
}

.news-rating {
  background-color: #dbe1e8;
  flex-basis: 130px;
}

.news-yelp {
  background-color: #dbe1e8;
  flex-basis: 168px;
}

.news-qoqa {
  background-color: #dbe1e8;
  flex-basis: 170px;
}

.footer {
  height: 125px;
  width: 1350px;
  display: flex;
}

.footer .footer-text {
  justify-content: space-around;
  width: 1350px;
  text-align: center;
  align-self: center;
  font-family: "Signika Negative", sans-serif;
  font-size: 18px;
  font-style: italic;
  color: #34495e;
  position: relative;
}

.footer-text::before,
.footer-text::after {
  position: absolute;
  font-size: 95pt;
  bottom: 0px;
  color: #ced4dd;
  font-family: "Signika", sans-serif;
  top: -20px;
}

.footer-text::before {
  content: "\201c";
  left: 355px;
}

.footer-text::after {
  content: "\201d";
  right: 390px;
}

.header-blocks {
  background-color: white;
  position: relative;
}

.header .blocks-profile {
  width: 433px;
}

.blocks-text {
  width: 825px;
}

.radius-blocks {
  border-radius: 4px;
}

.profile-charact {
  padding-left: 215px;
  display: block;
}

.profile-name {
  padding-top: 80px;
  font-size: 28px;
  font-family: "Lato", sans-serif;
  margin-bottom: 12px;
  font-weight: bold;
}

.profile-city {
  font-size: 17px;
  font-family: "Lato", sans-serif;
}

.status {
  flex-basis: 112px;
}

.status-first {
  background: #16c4ec url("../images/rhombus.png") no-repeat 48% 33%;
}

.status p {
  color: white;
  text-align: center;
  margin-top: 44px;
  font-size: 14px;
  text-transform: uppercase;
}

.status-second {
  background: #fa5351 url("../images/flag.png") no-repeat 48% 33%;
}

.status-third {
  background: #10cdc1 url("../images/car.png") no-repeat 48% 33%;
}

.status-fourth {
  background: #33495f url("../images/smoke.png") no-repeat 48% 33%;
}

.profile-status {
  position: relative;
  height: 78px;
  top: 81px;
  display: flex;
}

.profile-avatar {
  background: transparent;
  position: absolute;
  top: 35px;
  left: 20px;
}

.blocks-text {
  display: grid;
  grid-template-columns: 445px 345px;
  grid-template-rows: 100px 120px 130px;
}

.text-block {
  margin-left: 30px;
}

.text-head {
  margin-top: 47px;
  grid-column-start: 1;
  grid-column-end: 2;
  color: #33495f;
  font-family: "Signika", sans-serif;
  font-size: 39px;
}

.bold-text {
  font-weight: bold;
}

#blue-text {
  color: #16c4ec;
}

.text-description {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  margin-right: 10px;
  font-family: "Lato", sans-serif;
}

.text-mail span {
  display: block;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 22px;
  font-family: "Lato", sans-serif;
  color: #33495f;
  font-weight: bold;
}

#mail-second {
  font-size: 20px;
  margin-top: -8px;
  width: 80px;
  color: #fa5351;
  letter-spacing: 3px;
}

.text-mail {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 273px;
  margin-left: 68px;
  border-bottom: 1px solid black;
  margin-bottom: 8px;
}

.text-icons {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  gap: 44px;
  margin-left: 26px;
  margin-top: 22px;
}

.icons {
  width: 30px;
  height: 30px;
}

.icon-twitter {
  background: white url("../images/twitter.png") no-repeat 50% 50%;
}

.icon-ball {
  background: white url("../images/ball.png") no-repeat 50% 50%;
}

.icon-be {
  background: white url("../images/be.png") no-repeat 50% 50%;
}

.icon-photo {
  background: white url("../images/photo.png") no-repeat 50% 50%;
}

.icon-col {
  background: white url("../images/col.png") no-repeat 50% 50%;
}

.icon-in {
  background: white url("../images/in.png") no-repeat 50% 50%;
}

.secretvelet-name p {
  color: #33495f;
  font-size: 25px;
}

.secretvelet-name,
.secretvelet-description {
  display: inline-block;
}

.advertising-secretvelet p {
  margin-left: 20px;
}

.advertising-toonga p {
  margin-left: 20px;
}

.advertising-cortix p {
  margin-left: 20px;
}

.advertising-ademe p {
  margin-left: 20px;
}

.news-yelp p {
  margin-left: 20px;
}

.news-ecole p {
  margin-left: 22px;
}

.news-cefire p {
  margin-left: 22px;
}

.advertising-yelp p {
  margin-left: 20px;
}

.secretvelet-description p {
  color: #9ea7b4;
  margin-left: 7px;
  font-size: 18px;
  margin-top: 32px;
}

.secretvelet-level p {
  display: block;
  margin-top: -23px;
  color: #04bca6;
  font-size: 20px;
}

.secretvelet-list {
  margin-top: 37px;
}

.secretvelet-list ul li {
  margin-left: 22px;
  margin-top: 17px;
  font-size: 17px;
  font-family: "Signika", sans-serif;
  position: relative;
  background: white url("../images/mark.png") -5px no-repeat;
  padding-left: 30px;
}

.secretvelet-icons {
  display: flex;
  justify-content: space-around;
  margin-top: 52px;
}

.secretvelet-button {
  width: 218px;
  height: 38px;
  color: white;
  background-color: #16c4ec;
  margin-right: 21px;
  margin-top: -10px;
  border-radius: 3px;
  font-size: 17px;
}

.secretvelet-city {
  width: 140px;
  background: white url("../images/geo.png") 10px no-repeat;
  margin-left: 10px;
}

.yelp-city {
  width: 140px;
  background: #dbe1e8 url("../images/geo1.png") 8px no-repeat;
  margin-left: 10px;
  margin-top: -10px;
}

.secretvelet-city p {
  padding-left: 12px;
  color: #9ea7b4;
  font-size: 15px;
}

.secretvelet-year p {
  padding-left: 15px;
  color: #9ea7b4;
  font-size: 15px;
}

.secretvelet-year {
  width: 232px;
  background: white url("../images/reload.png") 10px no-repeat;
}

.yelp-year {
  width: 232px;
  background: #dbe1e8 url("../images/reload1.png") 12px no-repeat;
  margin-top: -10px;
}

.cortix-list {
  margin-top: -12px;
}

.cortix-list ul li {
  margin-left: 22px;
  margin-top: 17px;
  font-size: 17px;
  font-family: "Signika", sans-serif;
  position: relative;
  background: white url("../images/mark.png") -5px no-repeat;
  padding-left: 30px;
}

.ademe-icons {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.ademe-button {
  width: 218px;
  height: 38px;
  color: white;
  background-color: #b0bbca;
  margin-right: 21px;
  margin-top: -14px;
  border-radius: 3px;
  font-size: 17px;
}

.secretvelet-name,
.ademe-description {
  display: inline-block;
}

.ademe-description p {
  color: #9ea7b4;
  margin-left: 4px;
  font-size: 18px;
  margin-top: 38px;
}

.ademe-level p {
  display: block;
  margin-top: -25px;
  color: #04bca6;
  font-size: 20px;
}

.toonga-icons {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.toonga-button {
  width: 218px;
  height: 38px;
  color: white;
  background-color: #b0bbca;
  margin-right: 21px;
  margin-top: -14px;
  border-radius: 3px;
  font-size: 17px;
}

.secretvelet-name,
.toonga-description {
  display: inline-block;
}

.yelp-description,
.yelp-name {
  display: inline-block;
}

.toonga-description p {
  color: #9ea7b4;
  margin-left: 4px;
  font-size: 18px;
  margin-top: 34px;
}

.toonga-level p {
  display: block;
  margin-top: -25px;
  color: #04bca6;
  font-size: 20px;
}

.yelp-icons {
  display: flex;
  justify-content: space-around;
  margin-top: 44px;
}

.yelp-button {
  width: 218px;
  height: 38px;
  color: white;
  background-color: #10cdc1;
  margin-right: 21px;
  margin-top: -12px;
  border-radius: 3px;
  font-size: 15px;
}

.yelp-name,
.yelp-description {
  display: inline-block;
}

.yelp-description p {
  color: #9ea7b4;
  margin-left: 10px;
  font-size: 16px;
  margin-top: 34px;
}

.yelp-level p {
  display: block;
  margin-top: 6px;
  color: #00b9d8;
  font-size: 17px;
}

.qoqa-level p {
  display: block;
  margin-top: 10px;
  color: #00b9d8;
  font-size: 17px;
}

.yelp-city p {
  padding-left: 12px;
  color: #33495f;
  font-size: 13px;
  margin-top: 10px;
}

.yelp-year p {
  padding-left: 15px;
  color: #33495f;
  font-size: 13px;
  margin-top: 10px;
}

.yelp-name p {
  color: #33495f;
  font-size: 22px;
}

.qoqa-city p {
  padding-left: 12px;
  color: #33495f;
  font-size: 13px;
  margin-top: 12px;
}

.qoqa-year p {
  padding-left: 15px;
  color: #33495f;
  font-size: 13px;
  margin-top: 5px;
}

.qoqa-city {
  width: 140px;
  background: #dbe1e8 url("../images/geo1.png") 8px no-repeat;
  margin-left: 10px;
  margin-top: -8px;
}

.qoqa-year {
  width: 232px;
  background: #dbe1e8 url("../images/reload1.png") 12px no-repeat;
  margin-top: -2px;
}

.cefire-city p {
  padding-left: 10px;
  color: #33495f;
  font-size: 13px;
  margin-top: 7px;
}

.cefire-city {
  width: 140px;
  background: #dbe1e8 url("../images/geo1.png") 8px no-repeat;
  margin-left: 10px;
  margin-top: -8px;
}

.cefire-year {
  width: 232px;
  background: #dbe1e8 url("../images/reload1.png") 12px no-repeat;
  margin-top: -2px;
  margin-right: 115px;
}

.cefire-level p {
  display: block;
  margin-top: 10px;
  color: #04bca6;
  font-size: 17px;
}

.cefire-description {
  margin-top: 3px;
}

.cefire-icons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.cefire-year p {
  padding-left: 12px;
  color: #33495f;
  font-size: 13px;
  margin-top: 0px;
}

.star {
  display: flex;
  margin-right: 25px;
  margin-top: -4px;
  justify-content: right;
}

.full-star {
  background: #dbe1e8 url("../images/star.png") 0px no-repeat;
  width: 20px;
  height: 20px;
}

.semi-star {
  background: #dbe1e8 url("../images/semi-star.png") 0px no-repeat;
  width: 20px;
  height: 20px;
}

.empty-star {
  background: #dbe1e8 url("../images/empty_star.png") 0px no-repeat;
  width: 20px;
  height: 20px;
}

.menu-hobbies {
  display: flex;
  margin-top: 15px;
  justify-content: space-around;
  font-size: 13px;
  gap: 3px;
}

.menu-hobbies p {
  margin-top: 90px;
}

.menu-hobbies div p {
  margin-left: 6px;
}

.menu-hobbies div:nth-child(2) p {
  margin-left: 18px;
}

.menu-hobbies div:first-child p {
  margin-left: 8px;
}

.hobbies-web {
  background: white url("../images/monitor.png") 5px no-repeat;
  width: 85px;
  height: 85px;
  margin-left: 3px;
}

.hobbies-serivore {
  background: white url("../images/cadr.png") 5px no-repeat;
  width: 90px;
  height: 85px;
}

.hobbies-melomane {
  background: white url("../images/player.png") 5px no-repeat;
  width: 88px;
  height: 85px;
}

.hobbies-fashion {
  background: white url("../images/diamond.png") 5px no-repeat;
  width: 85px;
  height: 85px;
}

.hobbies-eat {
  background: white url("../images/eat.png") 5px no-repeat;
  width: 85px;
  height: 85px;
  margin-right: 4px;
}

.hobbies-voyage {
  background: white url("../images/fly.png") 5px no-repeat;
  width: 85px;
  height: 85px;
  margin-right: 6px;
}

.progress div {
  margin-top: 25px;
  margin-left: 10px;
}

.progress div progress {
  width: 268px;
}

.progress {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  position: relative;
}

.progress .right-progress {
  margin-left: 42px;
}

.progress label {
  position: relative;
  bottom: 4px;
  left: 1px;
  font-size: 16px;
}

.progress .right-progress progress::-webkit-progress-value {
  background-color: #16c4ec;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.progress .left-progress progress::-webkit-progress-value {
  background-color: #10cdc1;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.progress progress::-webkit-progress-bar {
  background-color: #dbe1e8;
  border-radius: 10px;
}

.number {
  width: 38px;
  height: 18px;
  background-color: #34495e;
  border-radius: 5px;
  color: #f5f6f6;
  position: absolute;
  font-size: 10px;
  text-align: center;
  padding-top: 4px;
}

.number::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: -7px;
  border: 4px solid transparent;
  border-top: 5px solid #34495e;
}

.progress-number1 {
  top: 20px;
  left: 205px;
}

.progress-number5 {
  top: 20px;
  right: 78px;
}

.progress-number2 {
  top: 75px;
  left: 138px;
}

.progress-number6 {
  top: 75px;
  right: 60px;
}

.progress-number3 {
  top: 130px;
  left: 244px;
}

.progress-number7 {
  top: 130px;
  right: 106px;
}

.progress-number4 {
  top: 185px;
  left: 218px;
}

.progress-number8 {
  top: 185px;
  right: 80px;
}

#timeline .timeline-item:after,
#timeline .timeline-item:before {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
#timeline {
  max-width: 50px;
  width: 100%;
  margin: 30px auto;
  position: relative;
  padding: 0 10px;
  transition: all 0.4s ease;
}
#timeline:before {
  content: "";
  width: 7px;
  height: 105%;
  background: #dbe1e8;
  left: 35%;
  top: -30px;
  position: absolute;
}
#timeline:after {
  content: "";
  clear: both;
  display: table;
  width: 100%;
}

#timeline .timeline-item {
  margin-bottom: 50px;
  position: relative;
}

#timeline .timeline-item .timeline-icon {
  left: 22%;
  overflow: hidden;
  margin-left: -6px;
  border-radius: 50%;
  background: #ffffff;
  color: #fff;
  text-align: center;
  font-size: 24px;
  line-height: 50px;
  width: 20px;
  height: 20px;
  position: absolute;
}

#timeline .timeline-item .timeline-icon1 {
  top: 130px;
}

#timeline .timeline-item .timeline-icon2 {
  top: 230px;
  background-color: #dbe1e8;
}

#timeline .timeline-item .timeline-icon3 {
  top: 434px;
  background-color: #dbe1e8;
}

#timeline .timeline-item .timeline-icon4 {
  top: 492px;
}

#timeline .timeline-item .timeline-icon5 {
  top: 630px;
  background-color: #dbe1e8;
}

#timeline .timeline-item .timeline-icon6 {
  top: 770px;
}

#timeline .timeline-item .timeline-icon7 {
  top: 850px;
  background-color: #dbe1e8;
}

#timeline .timeline-item .timeline-icon8 {
  top: 970px;
}

#timeline .timeline-item .timeline-icon9 {
  top: 1015px;
  background-color: #dbe1e8;
}

.timeline-date {
  width: 70px;
  height: 35px;
  background-color: #dbe1e8;
  color: white;
  text-align: center;
  padding-top: 8px;
  position: absolute;
  top: 1108px;
  left: -25px;
  font-size: 22px;
}
